.loginContainer {
    background-color: #fff;
    justify-content: center;
    height: 100vh;
    
}
.Login .formContainer {
        margin: 10% 30% 0% 30%;
        font-size: 15px;
        background: #e1f8ce;
        border-radius: 10px;
        box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, .4);
        display: flex;
        flex-direction: row;
        max-height: 400px;
}
 .Login .heading {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 10px;
    color:#0079bf;
    max-height: 150px;
  }
.Login .loading {
    color: white;
    position: "absolute";
  }
.Login .emailInput {
    margin:0% 20% 0% 20%;
}
.Login .passwordInput {
    margin:0% 20% 0% 20%;
}
.Login .buttonclass {
    margin:0% 20% 0% 20%;
    color:#0079bf !important;
}
.Login .continueButton{
    background-color: aqua !important;
    color:black !important;
    font-weight: 400;
    font-size: large;
}
.Login .forgetButton{
    background-color: aqua !important;
    color:black !important;
    font-weight: 400;
    font-size: large;
}
@media screen and (max-width: 520px) {
    .Login .formContainer {
        margin: 5% 10% 0% 10%;
        font-size: 15px;
        background: #e1f8ce;
        border-radius: 10px;
        box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, .4);
        display: flex;
        flex-direction: row;
        max-height: 400px;
}
.Login .emailInput {
    margin:0% 5% 0% 5%;
}
.Login .passwordInput {
    margin:0% 5% 0% 5%;
}
.Login .buttonclass {
    margin:0% 5% 0% 5%;
    color:#0079bf !important;
}
  }
  @media screen and (max-width: 920px) {
    .Login .formContainer {
        margin: 15% 20% 0% 20%;
        font-size: 15px;
        background: #e1f8ce;
        border-radius: 10px;
        box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, .4);
        display: flex;
        flex-direction: row;
        max-height: 400px;
}
.Login .emailInput {
    margin:0% 10% 0% 10%;
}
.Login .passwordInput {
    margin:0% 10% 0% 10%;
}
.Login .passwordInput {
    margin:0% 10% 0% 10%;
}
.Login .buttonclass {
    margin:0% 10% 0% 10%;
    color:#0079bf !important;
}
  }
  @media screen and (max-width: 480px) {
    .Login .formContainer {
        margin: 15% 5% 0% 5%;
        font-size: 15px;
        background: #e1f8ce;
        border-radius: 10px;
        box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, .4);
        display: flex;
        flex-direction: row;
        max-height: 400px;
}
.Login .emailInput {
    margin:0% 0% 0% 0%;
}
.Login .passwordInput {
    margin:0% 0% 0% 0%;
}
.Login .buttonclass {
    margin:0% 0% 0% 0%;
    color:#0079bf !important;
}
  }